name: Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-22.04
    env:
      QT_QPA_PLATFORM: offscreen
      TZ: Asia/Kolkata
      PYTHON_KEYRING_BACKEND: keyrings.alt.file.PlaintextKeyring

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12.3 environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.3"

      - name: Install required system dependencies
        run: |
          sudo apt update
          sudo apt install -y libxcb-cursor0 libegl1 libgl1
          sudo apt-get install ruby-dev build-essential libgirepository1.0-dev python3-dev -y && sudo gem i fpm -f
          sudo apt-get update && sudo apt-get install -y libfuse2

      - name: Set environment variables from GitHub Secrets and generate config.py
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          AUTH_URI: ${{ secrets.AUTH_URI }}
          TOKEN_URI: ${{ secrets.TOKEN_URI }}
          AUTH_PROVIDER_CERT_URL: ${{ secrets.AUTH_PROVIDER_CERT_URL }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        run: |
          cd src/utils
          python generate_config.py

      - name: Install Python dependencies (system)
        run: |
          python -m pip install --upgrade pip
          pip install keyring keyrings.alt pytest pytest-cov

      - name: Install project dependencies (Poetry)
        uses: ./.github/actions/install-python-dependencies

      - name: Compile QT resources
        run: |
          poetry run pyside6-rcc src/resources.qrc -o src/resources_rc.py

      - name: Run unit tests with coverage
        run: |
          poetry run pytest -v --maxfail=1 --disable-warnings \
            --cov=src --cov-branch --cov-report=html \
            --cov-fail-under=90 unit_tests/tests

      - name: Upload coverage report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/

  deploy:
    needs: tests
    runs-on: ubuntu-22.04
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
